input {
  background-color:white; /* Change this to the color you want */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffff;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#tableColor{
    background-color: #f2f2f2;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:black;
}

nav {
  background-color:blue;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

/* The class to apply when scrolling */
nav.scrolled {
  background-color:rgb(23, 152, 203) /* New color after scrolling down */
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

button {
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 50px; /* To prevent the content from being hidden behind the navbar */
}

.content {
  height: 1000px; /* Simulate page content for scrolling */
}